:root {
   --color-darkestDarkest:#15171a;
  --color-darkest: #212529;
  --color-darker:  #343a40;
  --color-dark:    #495057;
  --color-light:   #adb5bd;
  --color-lightest:#dee2e6;
  --color-light-orange:#ffb703;
  --color-dark-orange:#fb8500;
}



body {
  font-family: Arial, sans-serif;
  background-color: var(--color-darkest);
  margin: 0;
  padding: 0;

  
}
